*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
}

h4{
    margin-bottom: 15px;
    margin-top: 5px;
}